# Mobility score

## Preparation

In [48]:
# import statements
import pandas as pd
from pathlib import Path
import numpy as np

# script parameters
project_path = Path().resolve().parent
input_path=project_path / "results" / "intermediate"
path_mobility = input_path / "tree_mobility_frames"
path_genomes = input_path / "genomes_species.csv"
#path_genomes = project_path / "data" / "genomes_metadata.csv"
#path_pangenome = project_path / "data" / "pangenome.tsv"
output_path = project_path / "results" / "intermediate" / "mobility_frame.csv"

## Read in input

In [49]:
mob_frame=pd.read_csv(output_path)
mob_frame

,Unnamed: 0,orthogroup,species_count,genomes_count,accessory_count,core_count,accessory_fraction
0,0,F00001_1,0.062500,0.011364,16.0,0.0,1.000000
1,1,F00002_1,1.000000,0.038462,1.0,0.0,1.000000
2,2,F00003_1,0.076923,0.016667,11.0,2.0,0.846154
3,3,F00004_1,0.026316,0.003831,38.0,0.0,1.000000
4,4,F00005_1,0.015152,0.000572,29.0,37.0,0.439394
...,...,...,...,...,...,...,...
52262,52262,F67384_1,1.000000,0.333333,1.0,0.0,1.000000
52263,52263,F67385_1,1.000000,0.333333,1.0,0.0,1.000000
52264,52264,F67386_1,1.000000,0.500000,1.0,0.0,1.000000
52265,52265,F67387_1,1.000000,1.000000,1.0,0.0,1.000000
52266,52266,F67388_1,1.000000,0.083333,0.0,1.0,0.000000

In [50]:
genomes_frame=pd.read_csv(path_genomes)
counts = genomes_frame.groupby(by = "gtdb_species", as_index = False).count()
counts.columns = ['gtdb_species', 'counts']
counts

                  gtdb_species  counts
0   Apilactobacillus kunkeei_A      10
1    Brochothrix thermosphacta      16
2        Dolosigranulum pigrum      14
3        Enterococcus faecalis     100
4         Enterococcus_A avium      14
..                         ...     ...
77  Streptococcus thermophilus      37
78        Streptococcus uberis      17
79  Tetragenococcus halophilus      14
80           Weissella cibaria      15
81           Weissella confusa      21

[82 rows x 2 columns]

In [51]:
counts['mob']=0

In [90]:
mob_frame['counts_mob']=0
mob_frame['tree_score']=0
mob_frame[0:50]

,Unnamed: 0,orthogroup,species_count,genomes_count,accessory_count,core_count,accessory_fraction,counts_mob,tree_score
0,0,F00001_1,0.062500,0.011364,16.0,0.0,1.000000,0,0
1,1,F00002_1,1.000000,0.038462,1.0,0.0,1.000000,0,0
2,2,F00003_1,0.076923,0.016667,11.0,2.0,0.846154,0,0
3,3,F00004_1,0.026316,0.003831,38.0,0.0,1.000000,0,0
4,4,F00005_1,0.015152,0.000572,29.0,37.0,0.439394,0,0
5,5,F00006_1,0.021277,0.003484,46.0,1.0,0.978723,0,0
6,6,F00007_1,1.000000,0.500000,1.0,0.0,1.000000,0,0
7,7,F00007_2,1.000000,1.000000,1.0,0.0,1.000000,0,0
8,8,F00007_3,0.012195,0.000328,0.0,82.0,0.000000,0,0
9,9,F00008_2,0.012658,0.000376,14.0,65.0,0.177215,0,0
10,10,F00009_1,0.142857,0.004274,1.0,6.0,0.142857,0,0
11,11,F00009_2,0.018868,0.000567,6.0,47.0,0.113208,0,0
12,12,F00010_2,0.022727,0.004566,44.0,0.0,1.000000,0,0
13,13,F00011_1,0.111111,0.041667,9.0,0.0,1.000000,0,0
14,14,F00012_1,1.000000,0.166667,1.0,0.0,1.000000,0,0
15,15,F00012_2,0.500000,0.500000,2.0,0.0,1.000000,0,0
16,16,F00012_3,0.012195,0.000328,0.0,82.0,0.000000,0,0
17,17,F00013_1,1.000000,1.000000,1.0,0.0,1.000000,0,0
18,18,F00013_2,1.000000,1.000000,1.0,0.0,1.000000,0,0
19,19,F00013_4,0.013333,0.000369,0.0,75.0,0.000000,0,0
20,20,F00013_5,0.125000,0.014286,8.0,0.0,1.000000,0,0
21,21,F00014_1,0.200000,0.052632,5.0,0.0,1.000000,0,0
22,22,F00015_1,0.071429,0.026316,14.0,0.0,1.000000,0,0
23,23,F00016_1,0.016949,0.000539,7.0,52.0,0.118644,0,0
24,24,F00017_1,1.000000,1.000000,1.0,0.0,1.000000,0,0
25,25,F00018_1,0.250000,0.071429,4.0,0.0,1.000000,0,0
26,26,F00019_1,0.012346,0.000331,1.0,80.0,0.012346,0,0
27,27,F00020_1,0.500000,0.500000,2.0,0.0,1.000000,0,0
28,28,F00020_2,0.333333,0.066667,3.0,0.0,1.000000,0,0
29,29,F00020_3,0.250000,0.076923,4.0,0.0,1.000000,0,0
30,30,F00020_5,0.250000,0.006452,1.0,3.0,0.250000,0,0
31,31,F00020_7,0.016393,0.000528,13.0,48.0,0.213115,0,0
32,32,F00020_8,0.125000,0.007937,7.0,1.0,0.875000,0,0
33,33,F00020_9,0.012346,0.000333,6.0,75.0,0.074074,0,0
34,34,F00021_1,1.000000,1.000000,1.0,0.0,1.000000,0,0
35,35,F00022_1,0.076923,0.004237,12.0,1.0,0.923077,0,0
36,36,F00023_1,0.142857,0.083333,7.0,0.0,1.000000,0,0
37,37,F00024_1,0.333333,0.142857,3.0,0.0,1.000000,0,0
38,38,F00025_1,0.200000,0.018182,4.0,1.0,0.800000,0,0
39,39,F00026_1,0.100000,0.011905,9.0,1.0,0.900000,0,0
40,40,F00027_1,0.500000,0.100000,2.0,0.0,1.000000,0,0
41,41,F00027_2,0.014493,0.000383,7.0,62.0,0.101449,0,0
42,42,F00028_1,0.021739,0.000650,11.0,35.0,0.239130,0,0
43,43,F00029_1,1.000000,0.333333,1.0,0.0,1.000000,0,0
44,44,F00030_1,0.076923,0.006211,9.0,4.0,0.692308,0,0
45,45,F00031_1,0.333333,0.333333,3.0,0.0,1.000000,0,0
46,46,F00032_1,0.500000,0.166667,2.0,0.0,1.000000,0,0
47,47,F00032_2,0.500000,0.500000,2.0,0.0,1.000000,0,0
48,48,F00032_3,0.022222,0.000709,11.0,34.0,0.244444,0,0
49,49,F00033_1,0.021277,0.004329,47.0,0.0,1.000000,0,0

In [91]:
mob_frame.loc[mob_frame.orthogroup=="F00009_2", 'tree_score'].item()

0

In [92]:
for index,row in counts.iterrows():
    if index < 2:
        species=row.gtdb_species
        print(species)
        #print(species)
        #species_split=species.split(' ')
        #print(species_split)
        mob_file=pd.read_csv(path_mobility / str(species+".csv"))
        #print(mob_file)
        for orthogroup in mob_file.orthogroup:
            if (np.isnan(mob_frame.loc[mob_frame.orthogroup==orthogroup, 'tree_score'].item())==False):
                mob_frame.loc[mob_frame.orthogroup==orthogroup, 'counts_mob']=mob_frame.counts_mob[mob_frame.orthogroup==orthogroup] + counts.counts[index]
                mob_frame.loc[mob_frame.orthogroup==orthogroup, 'tree_score']=mob_frame.loc[mob_frame.orthogroup==orthogroup, 'tree_score'].item() + (counts.counts[index])*(mob_file.treeko_dist[mob_file.orthogroup==orthogroup].item())
                #print(orthogroup + " done")
                #print(mob_frame.tree_score[mob_frame.orthogroup==orthogroup])
                #print(mob_file.treeko_dist[mob_file.orthogroup==orthogroup].item())
        print(species + " done")

Apilactobacillus kunkeei_A
Apilactobacillus kunkeei_A done
Brochothrix thermosphacta
Brochothrix thermosphacta done

In [93]:
mob_frame.tree_score=mob_frame.tree_score/mob_frame.counts_mob

In [94]:
mob_frame

,Unnamed: 0,orthogroup,species_count,genomes_count,accessory_count,core_count,accessory_fraction,counts_mob,tree_score
0,0,F00001_1,0.062500,0.011364,16.0,0.0,1.000000,0,NaN
1,1,F00002_1,1.000000,0.038462,1.0,0.0,1.000000,0,NaN
2,2,F00003_1,0.076923,0.016667,11.0,2.0,0.846154,0,NaN
3,3,F00004_1,0.026316,0.003831,38.0,0.0,1.000000,0,NaN
4,4,F00005_1,0.015152,0.000572,29.0,37.0,0.439394,0,NaN
...,...,...,...,...,...,...,...,...,...
52262,52262,F67384_1,1.000000,0.333333,1.0,0.0,1.000000,0,NaN
52263,52263,F67385_1,1.000000,0.333333,1.0,0.0,1.000000,0,NaN
52264,52264,F67386_1,1.000000,0.500000,1.0,0.0,1.000000,0,NaN
52265,52265,F67387_1,1.000000,1.000000,1.0,0.0,1.000000,0,NaN
52266,52266,F67388_1,1.000000,0.083333,0.0,1.0,0.000000,0,NaN

In [95]:
mob_frame[(mob_frame.counts_mob!=0) & (mob_frame.counts_mob!=52)]

,Unnamed: 0,orthogroup,species_count,genomes_count,accessory_count,core_count,accessory_fraction,counts_mob,tree_score
8,8,F00007_3,0.012195,0.000328,0.0,82.0,0.000000,26,0.541392
9,9,F00008_2,0.012658,0.000376,14.0,65.0,0.177215,26,0.888112
11,11,F00009_2,0.018868,0.000567,6.0,47.0,0.113208,26,0.729831
16,16,F00012_3,0.012195,0.000328,0.0,82.0,0.000000,26,0.893899
19,19,F00013_4,0.013333,0.000369,0.0,75.0,0.000000,26,0.871795
...,...,...,...,...,...,...,...,...,...
52053,52053,F62571_1,1.000000,1.000000,1.0,0.0,1.000000,26,0.615385
52060,52060,F62578_1,1.000000,0.100000,0.0,1.0,0.000000,26,0.831448
52061,52061,F62579_1,1.000000,0.100000,0.0,1.0,0.000000,26,0.897436
52064,52064,F62582_1,1.000000,0.100000,0.0,1.0,0.000000,26,0.861042
52066,52066,F62584_1,1.000000,0.125000,1.0,0.0,1.000000,26,0.927602